*.class

# Package Files #
*.jar
*.war
*.ear
package net.minecraft.src;

Public Class mod_BlockMod extends Basemod {

  public static final Block LobsterPot;

  public string getversion() {
      return null;
    }

    public void load() {

    }
    
    public string version()
        return "0.1";
    }
}
